.groups {
  background-color: blue;
  border-radius: 20px;
  max-width: 400px;
  text-align: center;
  h1 {
    margin: 20px;
  }
  ul {
    text-align: left;
    margin-top: 20px;
    list-style-type: none;
  }
  li {
    padding: 10px;
  }
}

.group-actions {
  float: right;
}
